In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

import os
import math
import time

import matplotlib.pyplot as plt
import seaborn as sns


from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.metrics.pairwise import cosine_similarity  
from sklearn.metrics import pairwise_distances

In [ ]:
dataset = pd.read_json("/content/drive/My Drive/newsdataset.json",lines = True)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   authors            200853 non-null  object
 3   link               200853 non-null  object
 4   short_description  200853 non-null  object
 5   date               200853 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.2+ MB

In [ ]:
dataset.head()

        category  ...       date
0          CRIME  ... 2018-05-26
1  ENTERTAINMENT  ... 2018-05-26
2  ENTERTAINMENT  ... 2018-05-26
3  ENTERTAINMENT  ... 2018-05-26
4  ENTERTAINMENT  ... 2018-05-26

[5 rows x 6 columns]

In [ ]:
dataset = dataset[dataset['headline'].apply(lambda x:len(x.split())>5)]
print(dataset.shape[0])

180543

In [ ]:
dataset  = dataset[dataset['date']>=pd.Timestamp(2018,1,1)]

In [ ]:
print(dataset.shape[0])

8530

In [ ]:
dataset.sort_values('headline',inplace=True,ascending=False)
dups = dataset.duplicated('headline',keep = False)
dataset = dataset[~dups]
print(dataset.shape[0])

8485

In [ ]:
dataset.isna().sum()

category             0
headline             0
authors              0
link                 0
short_description    0
date                 0
dtype: int64

In [ ]:
print(dataset['category'].nunique())

26

In [ ]:
categories = dataset.groupby('category')
print('total categories: {}'.format(categories.ngroups))
print(categories.size())

total categories: 26
category
ARTS & CULTURE      13
BLACK VOICES       406
BUSINESS            85
COLLEGE              1
COMEDY             443
CRIME              170
EDUCATION           31
ENTERTAINMENT     1699
GREEN               28
HEALTHY LIVING      15
IMPACT              73
LATINO VOICES       83
MEDIA              290
PARENTS             32
POLITICS          3042
QUEER VOICES       451
RELIGION            63
SCIENCE             40
SPORTS             364
STYLE               34
TASTE                9
TECH                53
TRAVEL              72
WEIRD NEWS         205
WOMEN              226
WORLD NEWS         557
dtype: int64

In [ ]:
dataset.index = range(dataset.shape[0])

In [ ]:
dataset["day and month"] = dataset["date"].dt.strftime("%a") + "_" + dataset["date"].dt.strftime("%b")

In [ ]:
dataset_cp = dataset.copy()

In [ ]:
import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
for i in range(len(dataset_cp["headline"])):
    string = ""
    for word in dataset_cp["headline"][i].split():
        ss = ("".join(e for e in word if e.isalnum()))
        ss = ss.lower()
        if not ss in stop:
          string += ss + " "  
    if(i%1000==0):
      print(i)           # To track number of records processed
    dataset_cp.at[i,"headline"] = string.strip()

0
1000
2000
3000
4000
5000
6000
7000
8000

In [ ]:
dataset_cp.head()

        category  ... day and month
0   QUEER VOICES  ...       Mon_Apr
1   QUEER VOICES  ...       Tue_Mar
2   QUEER VOICES  ...       Fri_Jan
3         COMEDY  ...       Fri_May
4  ENTERTAINMENT  ...       Tue_Apr

[5 rows x 7 columns]

In [ ]:
lemmatizer = WordNetLemmatizer()
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
for i in range(len(dataset_cp['headline'])):
    string = ""
    for w in word_tokenize(dataset_cp['headline'][i]):
        string += lemmatizer.lemmatize(w,pos='v') + " "
    dataset_cp.at[i,'headline'] = string.strip()

In [ ]:
dataset_cp.head()

        category  ... day and month
0   QUEER VOICES  ...       Mon_Apr
1   QUEER VOICES  ...       Tue_Mar
2   QUEER VOICES  ...       Fri_Jan
3         COMEDY  ...       Fri_May
4  ENTERTAINMENT  ...       Tue_Apr

[5 rows x 7 columns]

In [ ]:
headline_vectorizer = CountVectorizer()
headline_features = headline_vectorizer.fit_transform(dataset_cp['headline'])

In [ ]:
print(headline_features.shape)

(8485, 11122)

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
def bag_of_words(row_index,sim_items):
    couple_dist = pairwise_distances(headline_features,headline_features[sim_items])
    indices = np.argsort(couple_dist.ravel())[0:sim_items]
    df = pd.DataFrame({'publish_date':dataset['date'][indices].values,
                      'headline':dataset['headline'][indices].values,
                      'similarity':couple_dist[indices].ravel()})
    print("-"*30,"Queried article details ","-"*30)
    print("The headline is ",dataset['headline'][indices[0]])
    print("\n","="*25,"Recommended articles : ","="*23)
    return df.iloc[1:,]

In [ ]:
bag_of_words(133,11)

------------------------------ Queried article details  ------------------------------
The headline is  ‘RuPaul’s Drag Race All Stars 3’ Episode 6 Recap: Which Queen Returned To The Competition?

 ========================= Recommended articles :  =======================

   publish_date  ... similarity
1    2018-03-16  ...   2.000000
2    2018-02-02  ...   2.236068
3    2018-02-12  ...   2.236068
4    2018-02-16  ...   2.236068
5    2018-01-29  ...   2.236068
6    2018-03-09  ...   2.449490
7    2018-02-23  ...   2.828427
8    2018-03-08  ...   3.162278
9    2018-03-16  ...   3.162278
10   2018-01-18  ...   3.162278

[10 rows x 3 columns]

In [ ]:
tfidfvect = TfidfVectorizer(min_df=0)
tfidf_headline_features = tfidfvect.fit_transform(dataset_cp['headline'])

In [ ]:
def tfidf_based_model(row_index, num_similar_items):
    couple_dist = pairwise_distances(tfidf_headline_features,tfidf_headline_features[row_index])
    indices = np.argsort(couple_dist.ravel())[0:num_similar_items]
    df = pd.DataFrame({'publish_date': dataset['date'][indices].values,
               'headline':dataset['headline'][indices].values,
                'Euclidean similarity with the queried article': couple_dist[indices].ravel()})
    print("="*30,"Queried article details","="*30)
    print('headline : ',dataset['headline'][indices[0]])
    print("\n","="*25,"Recommended articles : ","="*23)
    
    return df.iloc[1:,]
tfidf_based_model(132, 11)

============================== Queried article details ==============================
headline :  Woman Given 5 Years In Prison For Illegally Voting Says She Didn't Know She Was Ineligible

 ========================= Recommended articles :  =======================

   publish_date  ... Euclidean similarity with the queried article
1    2018-04-05  ...                                      1.211374
2    2018-04-05  ...                                      1.216741
3    2018-02-23  ...                                      1.231291
4    2018-02-16  ...                                      1.238326
5    2018-03-11  ...                                      1.248094
6    2018-01-22  ...                                      1.266391
7    2018-05-18  ...                                      1.267833
8    2018-05-07  ...                                      1.269602
9    2018-03-22  ...                                      1.273952
10   2018-02-09  ...                                      1.276054

[10 rows x 3 columns]